* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #16DB99;
    --color-text-primary: #065F46;
    --color-secondary: #ECFDF5;
    --light-gray: #757575;
    --border-add-button: #DEDEDE;
    --hr: #D2D2D2;
    --black: #000000;
    --secondary-text-gray: #8B8B8B;
}